# Ignore virtual environment directory
venv/
# Ignore all files starting with ~, eg Excel backups
~*
# Ignore all generated png
*.png
!porsche_911_year_vs_price_16072024.png
!porsche_911_mileage_vs_price_16072024.png
