# Ignore virtual environment directory
venv/
# Ignore all files starting with ~, eg Excel backups
~*
# Ignore all generated png
*.png
!porsche_911_price_vs_year_160724.png
!porsche_911_mileage_vs_year_160724.png
